[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/home/dingkang/dbus-1.4.0/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
