[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/home/dingkang/dbus-1.4.0/test/test-shell-service "this should 'fail' because of an unterminated quote 
User=anyrandomuser

